<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<center>
    <body>
    <h1>Edit Account</h1>
    <form th:method="post" th:object="${account}" enctype="multipart/form-data">
        <table class="table table-bordered" style="width: 80%">
            <tr style="text-align: center">
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Image-Link</th>
                <th>Birthday</th>
            </tr>
            <tr>
                <td>
                    <input type="hidden" class="form-control" name="id" th:value="*{id}">
                </td>
                <td>
                    <input type="text" class="form-control" name="username" th:value="*{username}">
                </td>
                <td>
                    <input type="text" class="form-control" name="password" th:value="*{password}">
                </td>
                <td>
                    <select name="idRole">
                        <option value="2">User</option>
                        <option value="1">Admin</option>
                    </select>
                </td>
                <input type="hidden" class="form-control" name="img" th:value="*{img}">
                <td>
                    <input type="file" class="form-control" name="imgFile">
                </td>
                <td>
                    <input type="date" class="form-control" name="birthday" th:value="*{birthday}">
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
    </body>
</center>
</html>
